html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

.btn {
  font-family: "Dosis", sans-serif;
  display: inline-block;
  border-radius: 8px;
  background-color: #785439;
  color: #fff;
  text-align: center;
}

body {
  border-color: #9a816d;
  background-color: #dcd4cd;
  margin: .5rem;
  border-radius: 3px;
  width: 100%;
  border-width: 3px;
  padding: .1px 1rem;
  border-radius: 8px;
  display: inline-block;
  border-style: solid;
}

h1 {
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

dl dd {
  display: block;
  margin-left: 10rem;
}

dl dt {
  display: block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card {
  color: #512200;
  text-decoration: none;
  font-family: "Georgia", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
